.title {
	background-color: #FFFF00;
}

img {
	width: 100%;
}

.info {
	border-bottom: 2px solid gray;
	margin: 6px 0 7px 6px;
}

h1, p {
	text-align: center;
}

.venue {
	border-radius: 8px;
}

.panel:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}